:root {
    color-scheme: light dark;
}

body {
    margin: 0;
    font-family: "Inter", sans-serif;
    text-align: center;
    width: 550px;
    height: 730px;
}

h1 {
    margin-top: 0;
}

button {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 500;
    background-color: #FFFFFF;
    color: #3D3D3D;
    border: none;
    border-radius: 5px;
    padding: 8px 30px;
    margin: 0;
}

button:hover {
    background-color: #e6e6e6;
}

button:active {
    transform: translateY(2px);
}

#header-div {
    background-color: #6943FF;
    color: #FFFFFF;
    padding: 40px 20px;
}

#user-input {
    font-family: "Inter", sans-serif;
    text-align: center;
    color: #FFFFFF;
    font-size: 58px;
    font-weight: 800;
    background-color: #6943FF;
    width: 100%;
    border: none;

}

#input-div {
    border: 2px solid #B295FF;
    border-radius: 5px;
    width: 117px;
    height: 83px;
    margin: 40px auto;
    display: flex;
    justify-content: center;
}

#conversions-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: light-dark(#F4F4F4, #1F2937);
    padding: 40px 20px;
    margin: 0;
}

.conversion {
    background-color: light-dark(#FFFFFF, #273549);
    color: light-dark(#353535, #FFFFFF);
    margin-bottom: 10px;
    padding: 10px 20px;
}

.unit-name {
    color: light-dark(#5A537B, #CCC1FF);
}